/*
Edward Brunton
Joyce Wang
CSC 337 001

formatting for ccwebform.html
*/
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

body {
  font-family:  "Book Antiqua", serif;
}

button {
  margin: 15px;
}

h1, h2{
  font-family: "Palatino Linotype", "Book Antiqua", serif;
}

input {
  text-align: center;
}

.formSection{
  display: flex;
 /* flex-direction: column;
  align-items: flex-start;*/
  flex-wrap: wrap;
}
.singleLine{
  display: flex;

}
