/*
Edward Brunton
Joyce Wang
CSC 337 001
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=button], button {
    background-color: #4CAF50;
    color: white;
}

input {
    padding: 1em;
    margin: 1em;
}

#loginDiv, #success {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.formGroup {
    display: flex;
    justify-content: space-between;
}

form {
    background-color: #e7e7e7;
}

#createNewAccount, #login {
    float: right;
}

#success {
    min-height: 2em;
    display: none;
}
